:root{
	--mainColor:#FDE4CF;
	--secondaryColor:#FBF8CC;

	--borderColor:#164D56;

	--mainText:#343A40;
	--secondaryText:#495057;

	--themeDotBorder:#FFF;

	--previewBg:#FBF8CC;
	--previewShadow:#FDE4CF;


	--buttonColor:#17a2b8;


}