:root{
	--mainColor:#CFBAF0;
	--secondaryColor:#F1C0E8;

	--borderColor:#164D56;

	--mainText:#343A40;
	--secondaryText:#495057;

	--themeDotBorder:#FFF;

	--previewBg:#F1C0E8;
	--previewShadow:#CFBAF0;


	--buttonColor:#17a2b8;


}